<template name="layout">
  {{> yield}}
</template>

<template name="homePage">
  {{> header}}
  <div class="container">
    <div class="content-wrapper row">
      <div class="col-xs-2">
        {{> sidebar}}
      </div>
      <div class="col-xs-6">
        {{> postsList}}
      </div>
      <div class="col-xs-4">
        {{> chat}}
      </div>
    </div>
  </div>
</template>

<template name="profileView">
  {{> header}}
  <div class="container">
    <div class="content-wrapper row">
      <div class="col-xs-2">
        {{> profileSidebar user}}
      </div>
      <div class="col-xs-6">
        {{> profilePosts}}
      </div>
      <div class="col-xs-4">
        {{> chat}}
      </div>
    </div>
  </div>
</template>
