// Variables
// --------------------------------------------------
// $icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/fonts/", "../fonts/");
$default-bg:					#FFF;
$default-border-radius:			3px;


//==Predefined variables
$gray-base:              #000 !default;
$gray-light:			lighten($gray-base, 46.7%) !default; // #777

//==Grid
$grid-gutter-width:         15px;

//== Colors

$brand-primary:         		#0079FF; //#FF5A5F;
$brand-secondary:				#267B8C;
$btn-tag-bg:					#FFFFFF;
$light-gray:					#999;
$body-bg: 						#E9E9E9;
//** Global textual link color.
$link-color:            		#0079FF; //#FF5A5F; #3395FF;
$sidebar-link-color:			#354458;
//== Buttons

$btn-primary-color:             #FFF;
$btn-primary-bg:                #57132E; //#0079FF;
$btn-primary-bg1:				lighten($btn-primary-bg, 10%); //#0096FF;
$btn-primary-bg2:				#57132E; //#005DFF;
$btn-primary-hover-bg1:			lighten($btn-primary-bg1, 5%);
$btn-primary-hover-bg2:			lighten($btn-primary-bg2, 5%);
$btn-primary-border:            darken($btn-primary-bg, 10%); //#0071E0;

$btn-default-color:           	#666;
$btn-default-bg:              	#FFF;
$btn-default-bg1:				#fff;
$btn-default-bg2:				#f0f0f0;
$btn-default-hover-bg1:			darken($btn-default-bg1, 10%);
$btn-default-hover-bg2:			darken($btn-default-bg2, 10%);
$btn-default-border:          	#ccc;


$btn-gray-color:              	#333;
$btn-gray-bg:                 	#E9E9E9;
$btn-gray-border:             	darken($btn-gray-bg, 5%);

$btn-tag-color:              	$gray-light;
$btn-tag-bg:                 	#FFF;
$btn-tag-active-bg:             #69B1FF;
$btn-tag-border:             	darken($btn-tag-bg, 15%);

//==Navbar
// Basics of a navbar
$grid-float-breakpoint:			0;
$screen-xs-max:					0;

$navbar-height:                 55px;
$navbar-default-color:          #333;
$navbar-color:          		#FFF;
$navbar-default-bg:             #FFF;
$navbar-bg:                		#131418;
$navbar-default-border:         lighten(#000, 55%);

// Navbar links
$navbar-default-link-color:         #FFF;
$navbar-default-link-hover-color:   darken($navbar-default-link-color, 6.5%);

// Navbar brand label
$navbar-default-brand-color:        #FFF;
$navbar-default-brand-hover-color:  darken($navbar-default-brand-color, 25%);

// Group chat
$chat-content-bg:					#DCFFD6;
$my-chat-content-bg:				#FFFDD6;