<template name="sidebar">
  {{> myProfilePic}}
  <div class="user-profile-info">
    <h4><a href="{{userProfile}}" class="user-profile">{{name}}</a></h4>
    <h5>{{postsCount}} Posts</h5>
  </div>
  <hr>
  <p class="chat-user-header text-uppercase">RECENT MESSAGES</p>
  {{#each chatUsers}} <h5 class="chat-user">{{chatUser}}</h5> {{/each}}
</template>

<template name="myProfilePic">
  <div class="profile-pic-container">
    <a href="{{userProfile}}"><img src="{{profilePic}}" alt="{{username}}" class="profile-pic img-responsive"></a>
  </div>
</template>
