<template name="sidebar">
    {{#if currentUser}}
    {{> myProfilePic}}
    <div class="user-profile-info">
        <h4><a href="{{userProfile}}">{{firstName}} {{lastName}}</a></h4>
        <h5>{{postsCount}} Streaks</h5>
    </div>
    <!-- <div type="button" class="btn btn-default btn-block btn-lg">Message {{firstname}}</div> -->
    {{/if}}
</template>

<template name="myProfilePic">
    <div class="profile-pic-container">
        <a href="{{userProfile}}"><img src="{{profilePic}}" alt="{{username}}" class="profile-pic img-responsive"></a>
    </div>
</template>
