<template name="post">
    <div class="post">
        <div class="post-content">
            <img src="{{imageUrl}}" alt="uploaded image" id="post-image" class="img-responsive annotatable">
            <p class="content">{{#autolink}}{{content}}{{/autolink}}</p>
            <hr>
            <div class="row">
                <div class="col-xs-2">
                    <img src="{{authorImage}}" alt="{{author}}" class="img-responsive post-user-pic img-rounded">
                </div>
                <div class="col-xs-10 post-user-info">
                    <strong><a href="{{authorProfile}}">{{author}}</a></strong>
                    <p>{{authorSchool}}</p>
                    <p><button class="btn btn-danger btn-xs pull-right" id="del-post">Delete Post</button></p>
                    <p><i class="fa fa-comments text-muted"></i> {{commentsCount}}</p>
                </div>
            </div>
        </div>
    </div>
</template>
