<template name="postSubmit">
    {{#if currentUser}}
    <div class="well">
        <div class="row">
            <div class="col-xs-1">
                <img src="{{[profilePic]}}" alt="profile pic" class="img-responsive img-rounded pull-left user-pic">
            </div>
            <div class="post-form-container">
                <form class="main form col-xs-11">
                    <!-- {{> imagePreview}} -->
                    <div class="form-group">
                        <div class="controls">
                            <textarea name="postContent" id="postContent" placeholder="What are you working on?" type="text" class="form-control"></textarea>
                        </div>
                    </div>

                    <div id="img-upload" class="fa fa-camera fa-2x">
                        
                        <input type="file" id="img-uploader" class="">
                    </div>

                    {{#each images}}
                      {{#unless this.isUploaded}}
                      {{> FS.UploadProgressBar}}
                      {{/unless}}
                    {{/each}}

                    <!-- <input type="file" id="file-upload" /> -->
                    <input type="submit" value="Share" class="btn btn-primary pull-right" />
                    <div class="clearfix"></div>
                    <div class="col-xs-12" id="preview-container">
                       <button type="button" class="close hide" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">×</span>
                       </button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{/if}}
</template>
