<template name="postItem">
  <div class="post">
    <div class="post-content">
      <h4>{{authorSchool}}</h4>
      <a href="{{pathFor 'postPage'}}">
            {{#if imageUrl}}
                <img src="{{imageUrl}}" alt="uploaded image" id="post-image" class="img-responsive  post-image">
            {{/if}}
            </a>
      <p class="content">
        {{#autolink}}{{content}}{{/autolink}}
      </p>
      <hr>
      <div class="row">
        <div class="col-xs-1">
          <img src="{{authorImage}}" alt="{{author}}" class="img-responsive post-user-pic img-circle">
        </div>
        <div class="col-xs-9 post-user-info">
          <h5><a href="{{authorProfile}}">{{author}}</a></h5>
          <p><i class="fa fa-comment fa-lg"></i> {{commentsCount}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
