<template name="commentItem">
    <li>
        <div class="row">
            <img src="{{authorImage}}" alt="{{author}}" class="comment-user-pic img-responsive img-circle col-xs-1">
            <div class="col-xs-10">
                <h5><a href="{{authorProfile}}">{{author}}</a>  <span class="text-muted">{{authorSchool}}</span></h5>
                <!-- <p class="date pull-right text-muted">{{submittedTime}}</p> -->
                <p>{{body}}</p>
            </div>
        </div>
    </li>
</template>
