<template name="profileSidebar">
    {{> profilePic}}
    <div class="user-profile-info">
        <h4>{{name}}</h4>
        <!-- <h5>@{{handle}}</h5> -->
        <!-- <h5>{{postsCount}} Pushes</h5> -->
        <hr>    
        <h5>{{school}}</h5>
        <hr>
        <p>{{about}}</p>

    </div>
    <!-- <div type="button" class="btn btn-default btn-block btn-lg">Message {{firstname}}</div> -->
</template>

<template name="profilePic">
    <!-- <input type="file" id="profile-file-upload" /> -->
    <div class="profile-pic-container">
        <!-- <a href="" id="profile-img-upload" class="fa fa-camera fa-2x img-upload"></a> -->
        <img src="{{profilePic}}" alt="{{name}}" class="profile-pic img-responsive">
    </div>
</template>
