<template name="chat">
    <div data-spy="affix">
        <div class="chat panel">
            {{> messages}} {{#if currentUser}}
            <div class="panel-footer">
                {{> input}}
            </div>
            {{/if}}
        </div>
    </div>
</template>

<template name="messages">
    <div class="panel-title">
        <div class="sidebar dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                {{roomname}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                {{#each rooms}} {{> room}} {{/each}}
            </ul>
        </div>
        <hr>
        <div class="chat-body panel-body" id="messages">
            {{#each messages}} {{> message}} {{/each}}
        </div>
    </div>
</template>

<template name="room">
    <li style="{{roomstyle}}">{{roomname}}</li>
</template>

<template name="message">
    <div class="message-block">
        <hr>
        <div class="message-author">
            <strong class="text-muted"><a href="{{authorProfile}}">{{author}}</a></strong>
        </div>
        <div class="message">
            <a href="{{pathFor 'postPage'}}">
                <img src="{{imageUrl}}" class="img-responsive"></a>
            <div class="text-content">
                <p>{{#autolink}}{{msg}}{{/autolink}}
                    <span class="pull-right timestamp text-muted">{{timestamp}}</span></p>
            </div>
        </div>
    </div>
</template>

<template name="input">
    <textarea placeholder="Your message goes here..." id="msg" class="form-control"></textarea>
</template>
