<template name="hashtags">
    <div class="col-md-4">
        <div class="tag-cloud">
            <div class="title-text">Select your interests here:</div>
            <div data-toggle="buttons">
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off" checked>#Typography
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off">#Animation
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off" checked>#Architecture
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off">#GraphicDesign
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off" checked>#UI/UX
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off">#CharacterDesign
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off" checked>#Cartooning
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off">#VisualEffects
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off" checked>#FashionDesign
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off">#Sculpting
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off" checked>#Illustration
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off">#PrintDesign
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off" checked>#Calligraphy
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off">#IndustrialDesign
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off">#ToyDesign
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off" checked>#CraftDesign
                </label>
                <label class="btn btn-tag">
                    <input type="checkbox" autocomplete="off">#Painting
                </label>
            </div>
        </div>
    </div>
</template>
