<template name="profileInfo">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="signup-form">
      <form id="profile-data">
        <div class="form-group">
          <input type="text" class="form-control" id="firstName" placeholder="First name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="lastName" placeholder="Last name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Primary email address">
        </div>
        <!--             <div class="form-group">
                <input type="email" class="form-control" id="schoolEmail" placeholder="Institute email address">
            </div> -->
        <div class="form-group">
          <input type="text" class="form-control" id="school" placeholder="Institute">
        </div>
        <button type="submit" id="update-profile" lass="btn btn-default">Let's get started</button>
      </form>
    </div>
  </div>
</template>
