<template name="navbarButtons">
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
            <div class="btn-group navbar-right">
                <a href="{{profilePage}}" role="button" class="btn navbar-btn btn-default"><img src="{{profilePic}}" class="img-circle pull-left navbar-user-pic img-responsive">{{firstName}}</a>
                <button type="button" class="btn navbar-btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/profile-info">Edit Profile</a></li>
                    <li><a href="/sign-in">Signout</a></li>
                </ul>
            </div>
        </ul>
    </div>
</template>
